body{
  background: #1a237e;
  background-image: url(../img/fondo.jpg);
  background-size: 375%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.contenedor{
  padding: 10px;
}

.logo{
  padding-top:10px;
}

.fuente1{
  font-weight: 600 !important;
}

.fuente2{
  font-size: 0.8em!important;
}

.titulo{
  margin-top: -7px;
  font-size: 1.5em!important;
}

.menu{
  margin:30px 0px 15px 10px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 13px !important;
}

nav{
  background: none;
  box-shadow: none;
}

.articulo{
  text-align: justify;
}

img{
  margin-top: 7px;
}

.comentario{
  font-size: 2em;
}

.autor{
  width: 40%;
}

.autor-content{
  margin:30px!important;
}

.social{
  width: 100%;
}
/*responsive*/

@media (min-width:720px){
  body{
    background-size: 100%;
  }

  .logo{
    width: 50%;
  }

  .menu{
    padding-left: 10px !important;
    padding-right: 10px !important;;
  }

  .img-articulo{
    margin-top: 130px;
  }

  .articulo{
    text-align: left;
  }

  .titulo{
    margin-top: -80px;
    font-size: 2em!important;
  }


}
